{% extends 'base.html' %}

{% block container %}
{{ super() }}
<p>Кусок, попадающий в базовый шаблон из шаблона index.html, наследующего base.html</p>
   <div class="content">
     <h2>Videos</h2>
     <div class="videos">
        (list of videos)
     </div>
    </div>


{% filter truncate(50) %}

<p>Python is probably one of the few programming languages which is both simple and powerful.</p>

<p>This is good for beginners as well as for experts, and more importantly, is fun to program with. This book aims to help you learn this wonderful language and show how to get things done quickly and painlessly - in effect 'The Anti-venom to your programming problems'.

{% endfilter %} </p>

{% endblock %}