<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vars rendering example</title>
</head>
<body>
<h1>Any variable: {{some_var}}</h1>
<p>Here comes the {{some_var}} rendered</p>
<h1>List</h1>
<p>Here comes the {{rgb}} rendered</p>
<ul>
    <li>{{rgb[0]}}</li>
    <li>{{rgb[1]}}</li>
    <li>{{rgb[2]}}</li>
</ul>
<h1>Dictionary</h1>
<p>Here comes the {{capitals}} rendered</p>
<ul>
    <li>China: {{capitals.China}}</li>
    <li>Paraguay: {{capitals.Paraguay}}</li>
    <li>Indonesia: {{capitals.Indonesia}}</li>
</ul>
<p><a href="/about">About my project</a> </p>
</body>
</html>