{% extends 'base.html' %}

{% block container %}

<main class="container mt-3">
    <section class="jumbotron text-center mt-4"
             style="background: url('{{ data.picture }}'); background-position: center center">
        <h1 class="display-4">{{ data.title }}</h1>
        <p class="lead">{{ data.subtitle }}</p>
        <p class="mt-5 w-50 mx-auto">{{ data.description}}</p>
    </section>
    <div class="row mt-5">
        {% for i in range(6) %}
        {% set id = data.tours_ids|random %}
        {% set t = data.tours[id] %}
        {% include 'tour_card.html' %}
        {% endfor %}
    </div>
</main>
{% endblock %}
